
.filterInputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .filterInput {
    margin: 7px 7px 7px 0;
  }
  
  .selectDepartment {
    margin: 7px 7px 7px 0;
    border-radius: 0;
    width: 20%;
  }
  
  .datePicker {
    margin: 7px 7px 7px 0;
    border-radius: 0;
    width: 20%;
  }
  
  .table {
    width: 100%;
  }
  
  /* Transitions */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .slide-in {
    animation: slideIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }