#sidebar {

  min-height: 100vh;
  width: 220px;
  max-height: fit-content;
  /* background: linear-gradient(to bottom,  #b5fbfb 80%,#d6ebff 20%,); */
  /*background: linear-gradient(to bottom, #ffffff 20%,  #6eb6ff 60%, #6eb6ff 80%);*/
  background-color: white;

}

#sidebar-content {

 /* background: linear-gradient(to bottom, #ffffff 40%,  #cfe4f8 60%, #6eb6ff 80%);*/
 background-color: white;

}

span {
  color: black;
  font-size: 15px;
  transition: color 0.2s ease, font-size 0.2s ease;

}

span:hover{
  color: blue;
  font-size: 16px;

}
/*
.link{

  transition: transform 0.2s ease;

}*/

/*
.link:hover {
  transform: scale(1.05);
}*/