/* ResetPassword.module.css */
body {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  /* background-image: url('./../../../assets/img/pxf.jpg'); */
  /* background: repeating-linear-gradient(45deg, #3399ff, #3399ff 10px, transparent 10px, transparent 20px); */

  background: linear-gradient(to right, #6699CC 20%, #068ee9 40%, #1E90FF 60%, #05d4d4 80%);

  background-size: cover;
  background-size: cover;
  background-position: center;
  /* Center the background image */
  font-family: Arial, sans-serif;
  /* Set a default font family for the body */
}

/* Style for the form container */
.container {
  width: 30%;
  /* Set the container width to 30% of its parent */
  margin: 100px auto;
  /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-image: url('./../../../assets/img/contback.jpg'); */
  background: linear-gradient(to bottom right, #5df2ca, #8c6cff);

  /* Add your background image URL here */
  background-size: cover;
  /* Cover the entire viewport with the background image */
  background-position: center;

  padding: 1rem;
  /* box-shadow:5px 5px  20px rgb(211, 211, 211); */

  border-radius: 4px;
  transition: width 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: transform 0.7s ease;
  /* Add a transition effect on transform */
  transform-origin: center;
}

.container:hover {
  box-shadow:0px 0px  20px rgb(66, 65, 65);
  transform: scale(1.07);
  /* Increase the size by 10% */
}

/* Style for the input fields */
.input {
  /* Your input field styles here */
  width: 100%;
  padding: 0.5rem;
  margin: 5px 0;
  /* Add some margin for spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  /* Add border color transition */
}

/* Style for focused input fields */
.input:focus {
  border-color: #2087f5;
  /* Highlight the border color on focus */
}

/* Style for error messages */
.text-error {
  color: red;
  margin: -20px 0;
  padding: 0;
  font-size: 0.875rem;
}

/* Style for the submit button */
.btn {
  /* Your button styles here */
  padding: 0.5rem 1rem;
  background-color: #2087f5 !important;
  /* Blue background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add background color transition */
}

/* Hover effect for the button */
.btn:hover {
  background-color: #0f69c9 !important;
  /* Darker blue on hover */
}