#flex-content{
  
  display: flex;
 flex-direction: row;
 justify-content: space-around;
width: 100%;
font-size: large;
padding: 25px;
}

#content{

padding: 15px !important;

}


/* CSS */
.profile-image-container {
  width: 150px; /* Set a fixed width for the profile picture container */
  height: 150px; /* Set a fixed height for the profile picture container */
  overflow: hidden; /* Hide any overflow content */
  border-radius: 50%; /* Apply a border-radius for a circular shape */
  margin: 0 auto; /* Center the container horizontally */
  position: relative; /* Position the circular image */
}

.profile-image {
  width: 100%; /* Make sure the image takes the full width of the container */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Remove any extra spacing around the image */
  position: absolute; /* Position the image within the circular container */
  top: 0; /* Align the image to the top */
  left: 0; /* Align the image to the left */
  right: 0; /* Align the image to the right */
  bottom: 0; /* Align the image to the bottom */
}
/* In your CSS stylesheet */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Add margin as needed */
}

