#card{

padding: 5px !important;
display: flex;
justify-content: right;
flex-direction: column;
border: 1px solid black;
width: 110%;
background-color: rgb(252, 254, 255);
border-radius: 10px;
box-shadow: 5px 5px 10px black;

 
}