
.rounded-input .round {
  padding:10px;
  /* background: linear-gradient(to bottom right, #5df2ca, #8c6cff); */
  border-radius:7px !important;
  border: 0.5px inset black;
  width: 130px !important;
}
.outerbox {
  /* background-image: url("./../../assets/img/1pxfuel.jpg"); */
/* background: linear-gradient(to top right, #ffffff, #b4a0ff); */
 /* background-image: url("./../../assets/img/login-background.jpg");*/
 background-color: #F6F6F6;
  color: white;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed; /* Add this line to fix the background */
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  padding: 35px 120px;
  display: flex;
  flex-direction: column;
}

 label{
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 3px !important;
  color: black;
}

.info-box{
display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
  align-content: center;
height: 50%;
width: 100% !important;
}

.apply-form{

   display: flex;
   flex-direction: column;
  align-content: center;
  width: 100% !important;
  padding: 15px !important;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(31, 185, 219, 0.6);
 border: 1px solid rgb(31, 185, 219);
  /*background-color: rgba(0, 0, 0, 0.2); /* Background color with transparency */

}

.apply-box{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;

}

.submit-button{

width: 150px;

}