.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom right, #5df2ca, #8c6cff);

    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .backArrow {
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .fieldGroup {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    /* background: transparent */
    border-radius: 5px;
    font-size: 16px;
  }
  
  .radioGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .radioGroup label {
    margin-right: 20px;
  }
  
  .error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  