.content{

  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  font-size: large !important;
}
.ApplyNow_container_6WJ-8{
  
}

.rounded-input .round {
  padding:10px;
  /* background: linear-gradient(to bottom right, #5df2ca, #8c6cff); */
  border-radius:7px!important;
  border: 0.5px inset black;
  width: 430px!important;
}
.outerbox {
  /* background-image: url("./../../assets/img/1pxfuel.jpg"); */
/* background: linear-gradient(to top right, #ffffff, #b4a0ff); */
  background-image: url("./../../assets/img/1pxfuel (2).jpg");
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  margin-top: 0px;
}
.submit-button{

width: 150px;

}