/* Add this to your CSS file */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    display: inline-block;
    margin: 0 5px;
  }
  
  .page-link {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold; /* Make the pagination links bold */
  }
  
  .page-link:hover {
    background-color: #007bff;
    color: white;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
  }
  